@use '@styles/variables' as *;
@use '@styles/placeholders' as *;

body {
  @extend %scroll-base;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: $base-color;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.loaded {
    opacity: 1 !important;
  }
  ::selection {
    background: $primary-color;
    color: $light-color;
  }
  ::-moz-selection {
    background: $primary-color;
    color: $light-color;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  font-family: 'Fusion', sans-serif;
  font-weight: normal;
  text-align: center;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;
}

.btn {
  @extend %btn;
  &_primary {
    background-color: $primary-color;
    color: $light-color;
    &:hover {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.center {
  text-align: center;
}

.mt-40 {
  margin-top: 40px;
}

input, textarea {
  appearance:none;
}
::-ms-clear {
  display:none;
}

.inp-base, .textarea-base, .select-base {
  @extend %form-element;
}

.textarea-base {
  height: 100px;
  resize: none;
  padding: 16px 30px;
}

.select-base {
  background: url("../images/arrow.svg") no-repeat calc(100% - 20px) 50%;
  appearance: none !important;
  padding-right: 40px;
  &::-ms-expand {
    display: none;
  }
  &:open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.switch {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  &__lbl {
    padding-left: 30px;
    &:before {
      border: 1px solid;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
    }
    &:after {
      background-color: $base-color;
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      height: 10px;
      width: 10px;
      opacity: 0;
      transition: opacity .3s;
    }
    input[type="radio"] + & {
      &:before, &:after {
        border-radius: 50%;
      }
    }
    input:checked + & {
      &:after {
        opacity: 1;
      }
    }
  }
}